extends ../layout/admin
block content
    div#container(style="margin: auto; width: 100%")
    script(type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js")
    script(type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.js")
    script(type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js")
    script(src="/javascripts/admin-edit_article.js")
