doctype html
html
    head
        meta(charset="UTF-8")
        title= '新建文章'
        link(rel='stylesheet', href='/stylesheets/reset.css')
        link(rel='stylesheet', href='/stylesheets/admin/editor.min.css')
        script(type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js")
        script(type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js")
        script(type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js")
    body
        div#page-wrap
            div#container

        script(src='/javascripts/editor.js')
