extends ../layout/admin
block content
    style.
        #content_holder .expecting {
            display: block!important;
        }
        #content_holder .css-loading {
            display: none!important;
        }
