extends ./layout
block content
    div hello test
    script(src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js")
    script(src="javascripts/test.js")

    button#send 发送
    input#input(type="text")
    button#validate 验证
