extends ../layout/front
block content
    link(rel='stylesheet', href='/ueditor/third-party/video-js/video-js.min.css')
    script(src="/ueditor/third-party/video-js/video.js")
    style.
        iframe {width: 100%;}
        video, audio {width: 100%;}
    script(src="/javascripts/front-article_detail.js")
    script(src="/ueditor/ueditor.parse.min.js")
