doctype html
html
    head
        title= '于都县岭背镇人民政府'
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
        link(rel='stylesheet', href='/stylesheets/front/style.min.css')
        script(src="//cdn.bootcss.com/react/15.3.2/react.min.js")
        script(src="//cdn.bootcss.com/react/15.3.2/react-dom.min.js")
    body
        div#loading
            div.css-loading
                div.css-dot
                div.css-dot
                div.css-dot
            div#loading_txt.text 加载中

        div#page_holder
            div.css-loading
                div.css-dot
                div.css-dot
                div.css-dot
        block content
